# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/

day_stats.json
DYMEMBERS

day_pipe_stats.json
results/

etc/about_me.yaml

.jemalloc_loc
.snakemake/
config/day_profiles/slurm/config.yaml
config/day_profiles/slurm/profile_env.bash
config/day_profiles/slurm/rule_config.yaml
config/day_profiles/local/config.yaml
config/day_profiles/local/profile_env.bash
config/day_profiles/local/rule_config.yaml
config/samples.tsv
config/units.tsv
day_cmd.log
daylily.failed_run
daylily.successful_run
logs/
unlock_fails.log